* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
main{
    display: flex;
}
main #search-section{
    float: left;
    margin: 0 auto;
    padding: 20px;
}
main #filter-section{
    float: right;
    margin: 0 auto;
    padding: 20px;
}
main #results-section{
    display:block;
    margin: 0 auto;
    padding: 20px;
}