* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
main{
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main #search-section{
    width: 100%;
    padding-bottom: 20px;
}
.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.searchButton {
    width: 100%;
    padding: 10px;
    background-color: #4173df;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.searchButton:hover{
    background-color: rgb(170, 52, 224);
}
#filter-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.filterButton {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
    margin-bottom: 20px;
}
#results-section {
    width: 100%;
}
#book-list{
display: flex;
gap: 10vw;
list-style: none;
margin: 10vw
}