* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main #search-section{
    width: 100%;
    padding-bottom: 20px;
}
.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
main #filter-section{
    float: right;
    margin: 0 auto;
    padding: 20px;
}
main #results-section{
    display:block;
    margin: 0 auto;
    padding: 20px;
}