* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.title-text {
    font-style: italic;
}

/* Style the main content area */
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

/* Style the search section */
#search-section {
    width: 100%;
    padding-bottom: 20px;
    text-align: center; /* Center content horizontally */
}
#search-section h2{
    float: left;
    padding-block: 0.5rem;
    padding-inline-start: 1rem;
    animation: colorChange 4s infinite;
}

@keyframes colorChange {
  0% { color: #ff5733; }
  50% { color: #ff1493; }
  100% { color: #ff5733; }
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.searchButton {
    width: 100%;
    padding: 10px;
    background-color: #4173df;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Add pointer cursor on hover */
}

.searchButton:hover {
    background-color: rgb(170, 52, 224);
}

.hidden1{
    display:none;
}
.hidden2{
    margin: 5rem;
    text-align: center;
    padding-top: 4rem;
}

/* Style the filter section */
#filter-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3vh;
}

#filter-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

#filter-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #464646;
    border-radius: 5px;
    padding: 1vh;
    z-index: 1;
}

/* #filter-options {
    list-style: none;
} */

/* Hide elements with the "hidden" class */
.hidden {
    display: none;
}
#filter-options {
    list-style: none;
    padding: 0;
    margin: 0;
}

#filter-options li {
    margin-bottom: 10px;
}

#filter-options button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

#filter-options button:hover {
    background-color: #4173df;
    color: #fff;
}

/* Style the results section */
#results-section {
    width: 100%;
}

#book-list {
    display: flex;
    gap: 5vw;
    list-style: none;
    margin: 5rem;
    justify-content: flex-start;
}

#book-list li{
    width:20%;
    min-width: 200px;
    padding: 1.5rem 6px;
    border-block: groove;
    border-block-width: 0.3rem;
    border-block-color: #4173df;
    text-align: center;
}

#book-list li:hover{
    border-inline: groove;
    border-inline-width: 2px;
    border-inline-color: rgb(170, 52, 224);
}

#book-list li .title{
    margin:3px
}